<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <style>
        *,html,body{
        font-family: 'Titillium Web', sans-serif;
        color:"#444444";
        }
    </style>
    <title>Socialize API</title>

</head>

    <body style="background:#ccc">
        <center>
            <h1 style="color:#fff">Socialize API</h1>
        </center>



    </body>
    </html>